<form class="signup mat-elevation-z7">
    <mat-card>
        <mat-card-title>Create an account</mat-card-title>
        <mat-card-content>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Nickname</mat-label>
                <input matInput type="text" placeholder="Type your nickname">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" placeholder="example@qaroni.com">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Type your secret password">
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" class="form-button">Sign-Up</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
</form>