.login {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 330px;

    .mat-card-title {
        text-align: center;
        padding: 18.8125px 0;
    }

    .mat-card-actions {
        padding: 0;
        margin: 0;

        .form-button {
            display: block;
            width: 100%;
            margin: 0 0 18.8125px 0;
        }
    }

    .form-field {
        display: block;
        margin: 0;
    }
}